POSTGRES_HOST=postgres_host
POSTGRES_PORT=postgres_port
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db

REDIS_HOST=redis_host
REDIS_PORT=redis_port
REDIS_PASSWORD=redis_password
REDIS_TOKEN_DB=0
REDIS_LIMITER_DB=1

SECRET_KEY=secret_key
ENCRYPTION_KEY=encryption_key
ALGORITHM=algorithm
TOKEN_EXPIRY_MINUTES=30
TOKEN_EXPIRY_DAYS=30
